.section {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}
.contactsList {
width: 200px;
margin: 0;
border: 2px solid #6C63FF;
border-radius: 10px;
padding: 20px;
list-style: none;
}
.text {
font-size: 20px;
}
.button {
font-size: 15px;
width: 100px;
margin: auto;
background-color: #6C63FF;
border-color: #6C63FF;
border-radius: 5px;
color: white;
}
.button:hover,
.button:focus {
background-color: white;
border-color: #6C63FF;
border-radius: 5px;
color: #6C63FF;
}